@model Movie

<div class="">

    <div class="row">
        <div class="col-md-4">
            <img src="/MovieImage/@Model.ImagePath" class="mb-2" style="height:250px" />
            <div class="mb-2">
                @foreach (var item in Model.Movie_Tag)
                {
                    <span class="badge bg-primary">@item.Tag.Name</span>
                }
            </div>

            <select class="star-rating mb-2" id="commentRating">
                <option value="5">Excellent</option>
                <option value="4">Very Good</option>
                <option value="3">Average</option>
                <option value="2">Poor</option>
                <option value="1">Terrible</option>
            </select>

            <div class="mb-2">
                <label asp-for="Name" class="control-label fw-bold"></label>
                <label class="control-label">: @Model.Name</label>
            </div>
            <div class="mb-2">
                <label asp-for="ReleaseDate" class="control-label fw-bold"></label>
                <label class="control-label">: @Model.ReleaseDate.ToShortDateString()</label>
            </div>
            <div class="mb-2">
                <label asp-for="Director" class="control-label fw-bold"></label>
                <label class="control-label">: @Model.Director</label>
            </div>

        </div>
        <div class="col-md-8">
          <div class="row">
                <div id="comments">
                    @{
                        await Html.RenderPartialAsync("_Comments", Model.Movie_Comment);
                    }
                </div>
          </div>
                <form id="partialForm" asp-action="SaveComment" asp-controller="Home" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#comments" method="post" data-ajax-complete="complete" class="d-flex">
                    <input type="hidden" value="@Model.Id" name="MovieId" />
                   
                    <div class="mb-2">
                        <label class="form-label">Yorumunuz : </label>
                        <textarea class="form-control" name="Comment"></textarea>
                    </div>
                    <div>
                        <select class="star-rating mb-2 col-md-12" name="Point">
                            <option value="">Select a rating</option>
                            <option value="5">Excellent</option>
                            <option value="4">Very Good</option>
                            <option value="3">Average</option>
                            <option value="2">Poor</option>
                            <option value="1">Terrible</option>
                        </select>
                    </div>
                
                    <button type="submit" class="btn btn-success">Gönder</button>

                </form>

            
            


        </div>
    </div>

</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var stars = new StarRating('.star-rating');

            complete = function (response) {

                $('#partialForm')[0].reset();
            }

            // $('#btnSave').click(function () {

            //     var comment = $('#comment').val();
            //     var point = $('#commentRating').val();


            //     console.log(point)


            //     if (comment === "") {
            //         window.alert('Yorum boş geçilemez');
            //         return;
            //     }
            //     if (point == "") {
            //         window.alert("Puan giriniz.")
            //         return;
            //     }

            //     var data = {
            //         Comment: comment,
            //         Point: point,
            //         MovieId: @Model.Id
            //                                 }

            //     console.log(data);

            //     $.ajax({
            //         method: "POST",
            //         url: '@Url.Action("SaveComment", "Home")',
            //         data: data,
            //         success: function (response) {
            //             console.log(response);
            //         }
            //     })



            // });
        })




    </script>

}